$num: 2;
$start: 100;

@function double($size) {
  @return $size * $num;
}

@for $i from 1 through 5 {
    .box-#{$start * $i} {
        width: $start * $i;
        height: double($start * $i);
    }
}
@function get-total($nums ...){
    $total: 0;
    @each $num in $nums {
        $total: $total + $num;
    } 
    @return $total;
}
.box {
    top: get-total(100, 50, 20);
    right: get-total(100, 50);
  }